body {
  background-color:  #ede9d7;
}

img {
  max-width: 250px;
  max-height: none;
}

.jumbotron {
background-color:  #fefbf1;
font-family: 'Oswald' , sans-serif;

}

.aboutMe {
  font-family: 'Oswald' , sans-serif;
}

.aboutMe h4 {
  font-size: 25px;
}

.Headers {
  text-align: center;
}

.Headers h1 {
  font-size: 50px;
}

.corey {
  float: right;
  max-width: 100px;
  max-height: none;
  margin-right: 63px;
  padding: 10px
}

h5 {
  font-style: normal;
  font-family: monospace;
  font-weight: bold;
}

.aboutmeTitle {
  color: #ABAA98;
}

.interests ul {
  font-style: oblique;
}

.interests h3 {
  font-family: monospace;
}


ol {
  font-style: oblique;
}

footer {
  text-align: center;
}

.well {
  background-color: #fefbf1;
}
